@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid mt-3">
    @await Component.InvokeAsync("_DashboardWidgetPartial")

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0 d-flex justify-content-between">
                            <div>
                                <h4 class="mb-1">API Hotel Satış Bilgileri</h4>
                                <p>Toplam Aylık Kazanç</p>
                                <h3 class="m-0">$ 12,555</h3>
                            </div>
                            <div>
                                <ul>
                                    <li class="d-inline-block mr-3"><a class="text-dark" href="#">Gün</a></li>
                                    <li class="d-inline-block mr-3"><a class="text-dark" href="#">Hafta</a></li>
                                    <li class="d-inline-block"><a class="text-dark" href="#">Ay</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="chart-wrapper">
                            <canvas id="chart_widget_2"></canvas>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="w-100 mr-2">
                                    <h6>Oda 3</h6>
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-danger" style="width: 40%"></div>
                                    </div>
                                </div>
                                <div class="ml-2 w-100">
                                    <h6>Oda 5</h6>
                                    <div class="progress" style="height: 6px">
                                        <div class="progress-bar bg-primary" style="width: 80%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rezervayson Özeti</h4>
                    <div id="morris-bar-chart"></div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card card-widget">
                <div class="card-body">
                    <h5 class="text-muted">Genel Bakış </h5>
                    <h2 class="mt-4">5680</h2>
                    <span>Toplam Rezervasyon</span>
                    <div class="mt-4">
                        <h4>30</h4>
                        <h6>Online Rezervasyonlar <span class="pull-right">30%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-primary" style="width: 30%;" role="progressbar">
                                <span class="sr-only">30% Rezervasyonlar</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>50</h4>
                        <h6 class="m-t-10 text-muted">Offline Rezervasyonlar <span class="pull-right">50%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-success" style="width: 50%;" role="progressbar">
                                <span class="sr-only">50% Rezervasyonlar</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4>20</h4>
                        <h6 class="m-t-10 text-muted">İptal Rezervasyonlar <span class="pull-right">20%</span></h6>
                        <div class="progress mb-3" style="height: 7px">
                            <div class="progress-bar bg-warning" style="width: 20%;" role="progressbar">
                                <span class="sr-only">20% Rezervasyonlar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body px-0">
                    <h4 class="card-title px-4 mb-3">Yapılacaklar</h4>
                    <div class="todo-list">
                        <div class="tdl-holder">
                            <div class="tdl-content">
                                <ul id="todo_list">
                                    <li><label><input type="checkbox"><i></i><span>Rezervasyon kontrolü</span><a href='#' class="ti-trash"></a></label></li>
                                    <li><label><input type="checkbox" checked><i></i><span>Müşteri Aramaları</span><a href='#' class="ti-trash"></a></label></li>
                                    <li><label><input type="checkbox"><i></i><span>Oda Kontrolü</span><a href='#' class="ti-trash"></a></label></li>
                                    <li><label><input type="checkbox" checked><i></i><span>Maaş Ödemeleri</span><a href='#' class="ti-trash"></a></label></li>
                                </ul>
                            </div>
                            <div class="px-4">
                                <input type="text" class="tdl-new form-control" placeholder="Yeni Görev Ekle">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_DashboardLast4Staffs")

    @await Component.InvokeAsync("_DashboardLast6Bookings")

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">

            <div class="card">
                <div class="chart-wrapper mb-4">
                    <div class="px-4 pt-4 d-flex justify-content-between">
                        <div>
                            <h4>Rezervasyon Aktiviteleri</h4>
                            <p>Son 6 Ay</p>
                        </div>
                        <div>
                            <span><i class="fa fa-caret-up text-success"></i></span>
                            <h4 class="d-inline-block text-success">720</h4>
                            <p class=" text-danger">+120.5(5.0%)</p>
                        </div>
                    </div>
                    <div>
                        <canvas id="chart_widget_3"></canvas>
                    </div>
                </div>
                <div class="card-body border-top pt-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>5% Negatif Geri Bildirim</li>
                                <li>95% Pozitif Geri Bildirim</li>
                            </ul>
                            <div>
                                <h5>Toplam Geri Bildirim</h5>
                                <h3>385749</h3>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="chart_widget_3_1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Aktiviteler</h4>
                    <div id="activity">
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/1.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Yeni Rezervasyon</h5>
                                <p class="mb-0">Yeni rezervasyon onay için rezervasyon sayfasına gidiniz.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/2.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Rezervasyon İptali</h5>
                                <p class="mb-0">Rezervasyon iptali onay için rezervasyon sayfasına gidiniz.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/3.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Yeni Rezervasyon</h5>
                                <p class="mb-0">Yeni rezervasyon onay için rezervasyon sayfasına gidiniz.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/4.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Yeni Rezervasyon</h5>
                                <p class="mb-0">Yeni rezervasyon onay için rezervasyon sayfasına gidiniz.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/5.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Müşteri Aranacak</h5>
                                <p class="mb-0">Müşteri hotel ile ilgili sorun yaşıyor aranacak.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                        <div class="media border-bottom-1 pt-3 pb-3">
                            <img width="35" src="~/adminweb/images/avatar/6.jpg" class="mr-3 rounded-circle">
                            <div class="media-body">
                                <h5>Yeni Rezervasyon</h5>
                                <p class="mb-0">Yeni rezervasyon onay için rezervasyon sayfasına gidiniz.</p>
                            </div><span class="text-muted ">@DateTime.Now.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Hotel Konumları</h4>
                    <div id="world-map" style="height: 470px;"></div>
                </div>
            </div>
        </div>
    </div>

    @*@await Component.InvokeAsync("_DashboardSubscribeCount")*@
</div>
<!-- #/ container -->
